@font-face {
    font-family: 'CapsuulaRegular';
    src: url('../fonts/capsuula/Capsuula-webfont.eot');
    src: url('../fonts/capsuula/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/capsuula/Capsuula-webfont.svg') format('svg'),
         url('../fonts/capsuula/Capsuula-webfont.woff') format('woff'),
         url('../fonts/capsuula/Capsuula-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}