
// To ensure that the baseline grid visualizer works nicely, $body-line-height / $body-text-size should result a nice finite decimal number
$body-text-size: 18px;
$body-line-height: 34px;

$body-text-font-family: Constantia, Palatino Linotype, Book Antiqua, Palatino, serif;
$body-text-font-weight: normal;

$header-1-text-size: 72px;
$header-2-text-size: 48px;
$header-3-text-size: 36px;
$header-4-text-size: 28px;
$header-5-text-size: 26px;
$header-6-text-size: 24px;

$header-font-family: 'CapsuulaRegular', Arial, sans-serif;
$header-font-weight: normal;