$display-baseline-grid-visualizer:  true;
$display-element-background-colors: true;

@import 'normalize';
@import 'typography-config';
@import 'font-faces';
@import 'font-sizes';
@import 'baseline-grid-visualizer';

$default-font-size: 16px;

body {

	margin: 0 23%;

	font-family: $body-text-font-family;
	font-weight: $body-text-font-weight;

	#{headers()} {
		font-family: $header-font-family;
		font-weight: $header-font-weight;
	}

}

